* {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    background-size: cover;
}

html {
    font-family: 'Inter', sans-serif;
}
.container {
    max-width: 500px;
    margin: auto;
    width: 375px;
    height: 100vh;    
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile > img {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-bottom: -30px;

}
.profile > p {
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.content > a {
    text-decoration: none;
    margin: 3px 10px;
    padding: 5px;
    color: #000000;
    background-color: rgba(0, 80, 253, 0.7);
    font-size: 24px;
    text-align: center;
    border: 3px solid #000000;
    border-radius: 8px;
    text-transform: capitalize;
    font-weight: 500;
}

.content > a:hover {
    background: aqua;

}

.content > p {
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    text-align: center;
}

.footer {
    text-align: center;
}

.footer > i {
    color: rgb(0, 0, 0);
    font-size: 15px;
}