* {
    margin: 0;
    padding: 0;
    /* background-color: rgb(255, 255, 255);
    background-size: cover;
    background-image: ; */
}

html {
    font-family: 'Inter', sans-serif;
    
}

body {
    /* background: rgb(2,0,36);
    background: -moz-linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,121,110,1) 35%, rgba(0,194,255,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,121,110,1) 35%, rgba(0,194,255,1) 100%);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,121,110,1) 35%, rgba(0,194,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#00c2ff",GradientType=1); */
    /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #c1dfc4 0%, #deecdd 100%);
}

.container {
    max-width: 500px;
    margin: auto;
    width: 375px;
    height: 100vh;    
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile > img {
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-bottom: -30px;

}
.profile > p {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .content > a {
    text-decoration: none;
    margin: 3px 10px;
    padding: 5px;
    color: #000000;
    background-color: rgba(0, 80, 253, 0.7);
    font-size: 24px;
    text-align: center;
    border: 3px solid #000000;
    border-radius: 8px;
    text-transform: capitalize;
    font-weight: 600;
} */

/* .content > a:hover {
    background: aqua;

} */

.content > p {
    margin-bottom: -5px;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-transform: capitalize;
    text-align: center;
}

.footer {
    text-align: center;
}

.footer > i {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

.footer > i > b {
    font-weight: bold;
}